.channelsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 0.4rem;
  border-top: 1px solid rgba(167, 181, 245, 0.65);
  border-bottom: 1px solid rgba(167, 181, 245, 0.65);
}

.hash {
  font-size: 2rem;
}

.channelName {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.active {
  background-color: rgba(59, 209, 189, 0.5);
  border-radius: 1rem;
}

.channelName:hover {
  color: #4f6aeb;
  background-color: #a7b5f5;
  border-radius: 1rem;
}

.channelname:hover h2 {
  transform: translateX(10rem);
}
