.logoContainer {
  position: relative;
  margin-top: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logoIcon {
  width: 3.4rem;
}

.logoName {
  font-family: 'Source Code Pro';
  font-size: 3rem;
}

.menuIcon {
  position: absolute;
  right: -3rem;
  background-color: rgba(79, 105, 235, 0.9);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 3rem !important;
  cursor: pointer;
  transform: rotate(0);
}

.closeMenuIcon {
  position: absolute;
  transform: rotate(180deg);
  right: 0.8rem;
  background-color: transparent;
}
